
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form class="form">
        <h1 class="h3">请登陆</h1>
        <label for="UserName" class="sr-only">用户名</label>
        <input type="text" id="UserName" class="form-control" placeholder="请输入用户名" required autofocus>
        <br />
        <label for="Password" class="sr-only">Password</label>
        <input type="Password" id="Password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
</div>

